n8n_workflow_derivacion.json
{
  "name": "Flujo Inteligente de Derivación — Protecta JIRA v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ticket",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "e8a93a55-231a-4ea4-9e32-2d14b43b6dc2",
      "name": "Entrada Nuevo Ticket",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [260, 340],
      "webhookId": "nuevo-ticket-id"
    },
    {
      "parameters": {
        "jsCode": "// Extraer el body del webhook (puede venir como body o directamente)\nconst data = $input.first().json;\nconst body = data.body || data;\n\n// Construir el payload para el Agente Decisor con todos los campos del CSV\nreturn [{\n  json: {\n    ticket_id:    body.ticket_id    || 'SIN-ID',\n    tipo_error:   body.tipo_error   || body.tipo_atencion_sd || 'consulta',\n    descripcion:  body.descripcion  || body.titulo || '',\n    area:         body.area         || '',\n    prioridad:    body.prioridad    || 'media',\n    aplicativo:   body.aplicativo   || '',\n    producto:     body.producto     || '',\n    clasificacion: body.clasificacion || ''\n  }\n}];"
      },
      "id": "a1b2c3d4-1111-2222-3333-444455556666",
      "name": "Preparar Datos para Decisor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://agente-decisor:8003/decidir",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "22ffb765-a86a-4b71-9c60-a29d57a40c9c",
      "name": "Agente Decisor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [700, 340]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.confianza }}",
              "operation": "largerEqual",
              "value2": 0.4
            }
          ]
        }
      },
      "id": "de5b94af-eb13-41bb-b851-fcd33cd5fdcd",
      "name": "¿Confianza Alta?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [920, 340]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nreturn [{\n  json: {\n    resultado: 'DERIVADO_AUTOMATICAMENTE',\n    ticket_id: d.ticket_id,\n    mesa_asignada: d.mesa_asignada,\n    complejidad: d.complejidad_evaluada,\n    confianza: d.confianza,\n    razonamiento: d.razonamiento,\n    timestamp: d.timestamp\n  }\n}];"
      },
      "id": "f5168dd5-79a6-42fb-bad4-f98cd3a264a9",
      "name": "Derivar Automáticamente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1160, 220]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nreturn [{\n  json: {\n    resultado: 'REVISION_HUMANA_REQUERIDA',\n    ticket_id: d.ticket_id,\n    mesa_sugerida: d.mesa_asignada,\n    complejidad: d.complejidad_evaluada,\n    confianza: d.confianza,\n    razonamiento: d.razonamiento,\n    motivo: 'Confianza insuficiente para derivación automática',\n    timestamp: d.timestamp\n  }\n}];"
      },
      "id": "c1f6de76-47eb-4efd-bf9c-29a5add69b32",
      "name": "Marcar para Revisión Humana",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1160, 460]
    }
  ],
  "pinData": {},
  "connections": {
    "Entrada Nuevo Ticket": {
      "main": [[{ "node": "Preparar Datos para Decisor", "type": "main", "index": 0 }]]
    },
    "Preparar Datos para Decisor": {
      "main": [[{ "node": "Agente Decisor", "type": "main", "index": 0 }]]
    },
    "Agente Decisor": {
      "main": [[{ "node": "¿Confianza Alta?", "type": "main", "index": 0 }]]
    },
    "¿Confianza Alta?": {
      "main": [
        [{ "node": "Derivar Automáticamente", "type": "main", "index": 0 }],
        [{ "node": "Marcar para Revisión Humana", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bb96af34-4a49-43c3-8e41-0738a9e223ed",
  "id": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
